{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->

<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Информация о заказе</h1>
                <p class="para_text w-100 w-lg-75">Пожалуйста, проверьте содержимое Вашей корзины перед оплатой. Отправляя свои личные данные Вы соглашаетесь с <a href="{% url 'security' %}" style="color: #f11fad;">Положением</a> об обработке и защите персональных данных</p>
            </div>
        </div>
    </div>


    <!-- START SHOP CART SECTION -->
    <div class="shop-cart wow slideInUp" data-wow-duration="2s">
        <div class="container">
            <a  class="btn pink-gradient-btn-into-black" href="{% url 'cart' %}" style="margin-top: 15px">&#x2190; Вернуться в корзину</a>
            <!-- START SHOP CART CHECKOUT FORM -->
            <div class="row pt-5">
                <div class="col-12 col-lg-6 wow slideInLeft" data-wow-duration="2s">
                    <div class="calculate-shipping">
                        <h4 class="heading">Введите данные для заказа</h4>
                        <form action="{% url 'checkout_data' %}" name="myform" onsubmit="return validateForm()" class="contact-form" method="post">
                            {% csrf_token %}
                            <div class="row my-form">
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="Ваше имя" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Ваша фамилия" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="email" class="form-control" id="user_email" name="userEmail" placeholder="Email" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="tel" class="form-control" id="user_phone" name="tel" placeholder="Номер телефона">
                                </div>

                                <hr>

                               
                                <div class="col-12 col-md-12" style="padding-top: 5px; padding-bottom: 5px;">
                                    <div>
                                        <p style="font-size: 12px; margin-left: 7px;">Доставка или эл. сертификат? Выберите одно!</p>
                                    </div>
                                    <div style="display: flex;">
                                        <input type="checkbox" id="scales" name="scales" style="margin: 7px;">Электронный сертификат </input>
                                        <span style="margin-left: 5px">ИЛИ</span>
                                        <input type="checkbox" id="delivery" name="delivery" style="margin: 7px;">Доставка</input>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="order_comment" name="comment" placeholder="Комментарий">
                                </div>

                                <div class="col-12 col-md-12" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Адрес доставки (если выбрали доставку)">
                                </div>
                                <div>
                                    <p style="padding: 15px; font-size: 14px;">Внимание! Если сумму заказа до 3000 рублей, цена доставки - 300 рублей. Она автоматически добавится к стоимости заказа.</p>
                                    <img src="{% static 'img/logos.webp' %}" style="width: 50%; margin-left: 25%;">
                                </div>
                                <button  class="btn pink-gradient-btn-into-black" style="margin: auto; margin-top: 15px">Оплатить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                    <div class="card-total">
                        <h4 class="heading">Ваш заказ</h4>
                        
                            {% for cart_product in cart_products %}
                                <div style="display: flex; margin-top: 20px;">
                                    <img src="{{cart_product.product.image_url}}" style="width: 100px; max-height: 100px;"></img>
                                    <p style="margin: auto; width: 20%;">{{cart_product.product.name}}</p>
                                    <p style="margin: auto;">{{cart_product.product.price}}</p>
                                    <p style="margin: auto;">x{{cart_product.quantity}}</p>
                                </div>
                                <hr>
                            {% endfor %}
                            <table>
                                <tr>
                                    <td>Итого:</td>
                                    <td>{{ total_price }} ₽</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Город заказа:</td>
                                    <td>{{ city }}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SHOP CART CHECKOUT FORM -->

        </div>
    </div>
    <!-- END SHOP CART SECTION-->

</div>
<!-- END HEADING SECTION -->
{% endblock %}
