{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->

<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center text-lg-left wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Информация о заказе</h1>
                <p class="para_text w-100 w-lg-75">Пожалуйста, проверьте содержимое Вашей корзины перед оплатой.</p>
            </div>
        </div>
    </div>


    <!-- START SHOP CART SECTION -->
    <div class="shop-cart wow slideInUp" data-wow-duration="2s">
        <div class="container">
            <a  class="btn pink-gradient-btn-into-black" href="{% url 'cart' %}" style="margin-top: 15px">&#x2190; Вернуться в корзину</a>
            <!-- START SHOP CART CHECKOUT FORM -->
            <div class="row pt-5">
                <div class="col-12 col-lg-6 wow slideInLeft" data-wow-duration="2s">
                    <div class="calculate-shipping">
                        <h4 class="heading">Введите данные для заказа</h4>
                        <form action="{% url 'checkout_data' %}" name="myform" onsubmit="return validateForm()" class="contact-form" method="post">
                            {% csrf_token %}
                            <div class="row my-form">
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="Ваше имя" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Ваша фамилия" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="email" class="form-control" id="user_email" name="userEmail" placeholder="Email" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="tel" class="form-control" id="user_phone" name="tel" placeholder="Номер телефона">
                                </div>

                                <hr>

                               
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <input type="text" class="form-control" id="candidate_address" name="address" placeholder="Ваш адрес" required="required">
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 5px; padding-bottom: 5px;">
                                    <select type="text" class="form-control" id="payment" name="payment" style="padding: 0; padding-left: 15px;">
                                        <option selected="selected">Способ оплаты</option>
                                        <option value="Cash">Наличный расчет</option>
                                        <option value="Card">Безналичный расчет</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6" style="padding-top: 15px;">
                                    <label for="scales">Электронный сертификат</label>
                                    <input type="checkbox" id="scales" name="scales">
                                </div>
                                <button  class="btn pink-gradient-btn-into-black" style="margin: auto; margin-top: 15px">Оплатить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-lg-6 wow slideInRight" data-wow-duration="2s">
                    <div class="card-total">
                        <h4 class="heading">Ваш заказ</h4>
                        
                            {% for cart_product in cart_products %}
                                <div style="display: flex; margin-top: 20px;">
                                    <img src="{{cart_product.product.image_url}}" style="width: 100px;"></img>
                                    <p style="margin: auto; width: 20%;">{{cart_product.product.name}}</p>
                                    <p style="margin: auto;">{{cart_product.product.price}}</p>
                                    <p style="margin: auto;">x{{cart_product.quantity}}</p>
                                </div>
                                <hr>
                            {% endfor %}
                            <table>
                                <tr>
                                    <td>Итого:</td>
                                    <td>{{ total_price }} ₽</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Город заказа:</td>
                                    <td>{{ city }}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SHOP CART CHECKOUT FORM -->

        </div>
    </div>
    <!-- END SHOP CART SECTION-->

</div>
<!-- END HEADING SECTION -->
{% comment %} <script>
    function validateForm(){
        var firstname = document.myform.firstName.value;
        var lastname = document.forms["myForm"]["lastName"].value;
        var email = document.forms["myForm"]["userEmail"].value;
        var phonenumber = document.forms["myForm"]["tel"].value;
        var city = document.forms["myForm"]["city"].value;
        var address = document.forms["myForm"]["address"].value;

        if (firstname==null || firstname=="") {
            alert("Необходимо ввести имя");
            return false;
        } else if (lastname==null || lastname==""){
            alert("Необходимо ввести фамилию");
            return false;
        }else if (email==null || email==""){
            alert("Необходимо ввести email");
            return false;
        }else if (phonenumber==null || phonenumber==""){
            alert("Необходимо ввести телефонный номер");
            return false;
        }else if (city==null || city==""){
            alert("Необходимо ввести город");
            return false;
        }else if (address==null || address==""){
            alert("Необходимо ввести адрес");
            return false;
        }
    } 
</script> {% endcomment %}
{% endblock %}
