{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Slider Start-->
<div class="row">
    <div class="col-12 col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1892.9271033874759!2d50.83218111633842!3d61.67714278254101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43f62b2fb58695b1%3A0xea00607d98ffb128!2z0KTQvtGA0LzRg9C70LAgU3BhLCBTcGEt0YbQtdC90YLRgA!5e0!3m2!1sru!2sfi!4v1605697459942!5m2!1sru!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-12 col-lg-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1776.3960377093367!2d53.653683516406566!3d63.56179698333425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4474d66989582b87%3A0x6c5220dce626612f!2z0KTQvtGA0LzRg9C70LAgc3BhLCDQo9GF0YLQsA!5e0!3m2!1sru!2sfi!4v1605697653038!5m2!1sru!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!--Slider End-->


    <section class="contact-sec" id="contact-sec">

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 contact-description wow slideInLeft" data-wow-delay=".8s">
                    <div class="contact-detail wow fadeInLeft">
                        <div class="ex-detail">
                            <span class="fly-text">НАШИ КОНТАКТЫ</span>
                            <h4 class="large-heading">
                                <span class="heading-1">Как нас найти</span>
                            </h4>
                        </div>
                        <p class="small-text text-center text-md-left">
                            Если у вас появились вопросы, то можете написать нам или позвонить. Мы с радостью проконсультируем вас!
                        </p>
                        <div class="row location-details text-center text-md-left">
                            <div class="col-12 col-md-6 country-1">
                                <h4 class="heading-text text-left">Сыктывкар</h4>
                                <ul>
                                    <li><i class="fas fa-mobile-alt"></i><a href="#">559-335, + 7-908-697-16-53</a></li>
                                    <li><i class="fas fa-envelope"></i><a href="#">formulaspa11@mail.ru</a></li>
                                    <li><i class="fas fa-map-marker"></i><a href="#">ул. Свободы, 21</a></li>
                                    <li><i class="fas fa-map-marker"></i><a href="#">ул. Коммунистическая, 67</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6 couuntry-1">
                                <h4 class="heading-text text-left">Ухта</h4>
                                <ul>
                                    <li><i class="fas fa-mobile-alt"></i><a href="#">71-07-37</a></li>
                                    <li><i class="fas fa-envelope"></i><a href="#">formulaspa11@mail.ru</a></li>
                                    <li><i class="fas fa-map-marker"></i><a href="#">наб. Газовиков, 5</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
                    <div class="c-box wow fadeInRight">
                        <h4 class="small-heading">Напишите нам</h4>
<!--                        <p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
                        <form action="https://formspree.io/f/xoqplkwj" method="POST" class="contact-form" id="contact-form-data">
                            {% csrf_token %}
                            <div class="row my-form">
                                <div class="col-md-12 col-sm-12">
                                    <div id="result"></div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="Ваше имя" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Ваша фамилия" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="email" class="form-control" id="user_email" name="userEmail" placeholder="Email" required="required">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="tel" class="form-control" id="user_phone" name="tel" placeholder="Номер телефона">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" id="user_message" name="userMessage" placeholder="Ваше сообщение" rows="7" required="required"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn pink-gradient-btn-into-black" type="submit">ОТПРАВИТЬ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
