{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->


<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">FAQ - ответы на популярные вопросы</h1>
                <p class="para_text">Вы можете ознакомиться с ответами на самые часто задаваемые вопросы.</p>
            </div>
        </div>
    </div>

    <!--content-->
<div class="standalone-area">
    <div class="container">

        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-1.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Правила использования подарочного сертификата</h2>
                    <p>Удобное для Вас время посещения Вы можете назначить по тел. 559-335. При записи: обязательно сообщите номер данного сертификата и наименование SPA-программы. Обмен на деньги не производится. При утере подарочный сертификат не восстанавливается. Не действует на покрытие гель-лаком.</p>
                </div>
            </div>
        </div>


        <!--content-->
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-2.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Об отмене подарочного сертификата</h2>
                    <p>
                        При записи по сертификату Вы бронируете время МАСТЕРА, кабинет (разогрев, подготовка сауны, водных процедур). В случае, если Вы не пришли на программу в забронированное время или отменили запись менее чем за 24 часа, из стоимости сертификата вычитается бронь.
                    </p>
                </div>
            </div>
        </div>

        <!--content-->
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-3.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3"> В чем принято приходить в спа-центр?</h2>
                    <p>Существует ли дресс - код? В нашем спа-центре его нет. В чем удобно в том и приходите!</p>
                </div>
            </div>
        </div>

        <!--content-->
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-4.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Надо ли брать сменное белье, тапочки и так далее?</h2>
                    <p>
                        С собой специально ничего приносить не нужно. Все необходимое для спа-программ мы предоставим. Гостям выдаются хлопчатобумажные халаты, тапочки, одноразовые бикини, бюстье и шапочки для сохранения причёски.
                    </p>
                </div>
            </div>
        </div>

        <!--content-->
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-5.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Присутствуют ли элементы эротики?</h2>
                    <p>Нет! У нас только оздоровительные спа-программы и любые намеки на "нечто другое" пресекаются и администраторами, и мастерами.</p>
                </div>
            </div>
        </div>

        <div class="row standalone-row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-6.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3"> Какие есть ограничения для гостей спа-центра, что не принято?</h2>
                    <p>
                        Не приняты звонки по мобильному, громкий разговор (чтобы не мешать другим гостям). Перед спа-программами нежелательны обильная еда и питье. Возможен отказ в обслуживании лицам, находящимся в состоянии алкогольного опьянения или при неадекватном поведении.
                    </p>
                </div>
            </div>
        </div>

        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/faq-7.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">О ценных вещах</h2>
                    <p>Несёт ли администрация спа-центра ответственность, есть ли условия для сохранности? Да, мы несём ответственность за вещи, сданные администратору.</p>
                </div>
            </div>
        </div>
        <!--content-->
    </div>
</div>

</div>

<!-- END HEADING SECTION -->
{% endblock %}