{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->


<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Школа массажа</h1>
                <p class="para_text">Обучение проводится в спа-центре "ФОРМУЛА SPA" (гостиница "Сыктывкар")</p>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="standalone-area">
        <div class="container">

            <div class="row standalone-row align-items-center">
                <div class="col-lg-6">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-1.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3">Об обучении</h2>
                        <p>Вы можете обучиться таким видам массажа: классический, тайский, релакс, антицеллюлитный,
                            лимфодренажный, ломи-ломи, голова, стопы, руки, лицо и зона декольте, аюрведический.</p>
                    </div>
                </div>
            </div>


            <!--content-->
            <div class="row standalone-row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-2.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3">Информация о курсе массажа</h2>
                        <p>
                            Все обучение проводиться на приглашенных моделях. По итогу вручается свидетельство. В
                            период и после обучения вы получите онлайн поддержку в виде рецензированных методических
                            пособий, проверенных онлайн уроков и ответов на ваши вопросы.
                        </p>
                    </div>
                </div>
            </div>

            <!--content-->
            <div class="row standalone-row align-items-center">
                <div class="col-lg-6">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-3.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3"> Как записаться на курс?</h2>
                        <p>Все вопросы и запись в <a href="https://vk.com/topic-26361486_38605686">группу ВК</a> или по
                            телефону: 559-335 и 559-739 с 11:00 до 22:00. Также в группе ВК вы можете найти ближайшие
                            даты проведения школы массажа.</p>
                    </div>
                </div>
            </div>

            <!--content-->
            <div class="row standalone-row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-4.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3">Что дает прохождение курса?</h2>
                        <p>
                            Курсы массажа это возможность получить новую хорошую специальность, иметь дополнительный
                            доход и самое полезное в мире хобби для семьи. Обучение подходит для всех желающих, а также
                            для тех, кто имеет медицинское/биологическое/физкультурное образование.
                        </p>
                    </div>
                </div>
            </div>

            <!--content-->
            <div class="row standalone-row align-items-center">
                <div class="col-lg-6">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-5.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3">Как проходит обучение?</h2>
                        <p> 10 занятий, 3 раза в неделю: понедельник, среда, пятница с 18:00 до 20:00. Занятия проводит
                            преподаватель по предмету "Медицинский массаж" Сыктывкарского мед.колледжа, кандидат
                            биологических наук - Гарнов Игорь Олегович.</p>
                    </div>
                </div>
            </div>

            <div class="row standalone-row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-6.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3"> Стоимость школы массажа</h2>
                        <p>
                            Стоимость 10 занятий: 14 000 ₽. Также вы можете пройти обучение отдельных видов массажа,
                            подробнее ознакомиться с ценами можно по телефону или в нашей группе ВК.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row standalone-row align-items-center">
                <div class="col-lg-6">
                    <div class="blog-image wow hover-effect fadeInLeft">
                        <img src="{% static 'img/faq-7.jpg' %}" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="d-inline-block">
                        <h2 class="gradient-text1 pb-3">Что будет на ближайшем курсе?</h2>
                        <p>Рассмотрим особенности разных видов массажа: классический массаж, массаж головы, конечностей,
                            шейно-воротниковой зоны, спортивный, вакуумный, антицеллюлитный и лимфодренажный,
                            расслабляющий, массаж Ломи-Ломи и др. и отработаем все приемы на моделях.</p>
                    </div>
                </div>
            </div>
            <!--content-->
        </div>
    </div>

</div>

<!-- END HEADING SECTION -->
{% endblock %}