<p>Здравствуйте, {{ firstname }} {{ lastname }}. Ваш заказ подтвержден.</p>

<table cellspacing="0" cellpadding="6" class="message-table" style="border: 1px solid #e4e4e4;">
    <tr>
      <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Товар</th>
      <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Количество</th>
      <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Цена</th>
    </tr>
    {% for item in order_items %}
        <tr>
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.product.name }}</th>
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.quantity }}</th>
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.product.price }}</th>
        </tr>
    {% endfor %}
    <tr>
      <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Всего к оплате</th>
      <td style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">{{ order.cart_total }}</td>
    </tr>
    <tr>
      <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Электронный сертификат</th>
      {% if is_digital %}
        <td style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Да</td>
      {% else %}
        <td style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Нет</td>
      {% endif %}
    </tr>
</table>