<p>Получен новый заказ с сайта "Формула SPA"</p>

<table cellspacing="0" cellpadding="6" class="message-table" style="border: 1px solid #e4e4e4;">
    <tr>
        <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Имя клиента</th>
        <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Email</th>
        <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Номер телефона</th>
        {% if address %}
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Адрес доставки</th>
        {% endif %}
    </tr>
    <tr>
        <td style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ firstname }} {{ lastname }}</td>
        <td style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ email }}</td>
        <td style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ phonenumber }}</td>
        {% if address %}
            <td style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ address }}</td>
        {% endif %}
    </tr>
    <tr>
      <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Товар</th>
      <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Количество</th>
      {% if address %}
        <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Цена</th>
      {% else %}
        <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">Цена</th>
      {% endif %}
    </tr>
    {% for item in order_items %}
        <tr>
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.product.name }}</th>
            <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.quantity }}</th>
            {% if address %}
              <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.product.price }}</th>
            {% else %}
              <th style="border: 1px solid #eee; display: table-cell; padding: 15px;">{{ item.product.price }}</th>
            {% endif %}
        </tr>
    {% endfor %}
    <tr>
      <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Всего к оплате</th>
      {% if address %}
        <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">{{ order.cart_total }}</td>
      {% else %}
        <td style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">{{ order.cart_total }}</td>
      {% endif %}

    </tr>
    <tr>
      <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Электронный сертификат</th>
      {% if is_digital %}
        <td style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Да</td>
      {% else %}
        {% if address %}
          <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Нет</td>
        {% else %}
          <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Нет</td>
        {% endif %}
      {% endif %}
    </tr>
    {% if comment %}
      <tr>
        <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Комментарий</th>
        <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">{{ comment }}</td>
      </tr>
    {% endif %}
    <tr>
      <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Промокод</th>
      <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">{{ order.promocode }}</td>
    </tr>
    {% if isPaidDelivery %}
      <tr>
        <th colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 15px;">Доставка оплачена</th>
        <td colspan="2" style="border: 1px solid #eee; display: table-cell; padding: 10px; text-align: center;">Оплачено</td>
      </tr>
    {% endif %}
</table>