<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Формула SPA - оплата заказа по карте</title>
  </head>
  <body>
    <h3 style="padding:15px;">Спасибо за покупку!</h3>
    <p style="padding:15px;">Ваш заказ подтвержден. В случае необходимости мы с Вами свяжемся. Вы можете найти всю информацию о заказе и чек на электронной почте, указанной при оформлении.</p>
    <a href="{% url 'index' %}"><p style="padding:15px;">Вернуться на главную страницу сайта</p></a>
  </body>
  </body>
</html>