{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->

<!-- START HEADING SECTION -->
<div class="about_content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="product-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb text-center text-lg-left">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item">{{ product.category.topic }}</li>
                            <li class="breadcrumb-item"><a href="{% url 'category' product.category.slug %}">{{ product.category.name }}</a></li>
                            <!-- <li class="breadcrumb-item" aria-current="page"><a href="#">sports</a></li> -->
                            <li class="breadcrumb-item">{{ product.name }}</li>
                        </ol>
                    </nav>
                    <div class="pro-detail-sec row">
                        <div class="col-12">
                            <h4 class="pro-heading text-center text-lg-left">{{ product.name }}</h4>
                            <p class="pro-text text-center text-lg-left">Спа-программа из категории {{ product.category|lower }}</p>
                        </div>
                    </div>
                    <div class="row product-list product-detail">

                        <div class="col-12 col-lg-6 product-detail-slider">
                            <div class="wrapper">
                                <div class="Gallery swiper-container img-magnifier-container">
                                    <div class="swiper-wrapper myimgs">
                                        <div class="swiper-slide"> <a href="{{ product.image.url }}" data-fancybox="1" title="Zoom In"><img class="myimage" src="{{ product.image.url }}" alt="gallery"/></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 text-center text-lg-left">
                            <div class="product-single-price">
                                <h4><span class="real-price">Стоимость: {{ product.price }}₽</span></h4>
                                <div class="pro-description">
                                    {{ product.description|safe }}
                                </div>
                                <p>Продолжительность: {{product.duration}}</p>
                                <p>Город: {{product.city}}</p>
                            </div>

                            <div class="row">
                                
                                <div class="col-12 text-left">
                                    <a href="{% url 'add_to_cart' product.slug %}" class="btn pink-gradient-btn-into-black">ДОБАВИТЬ В КОРЗИНУ</a>
                                    {% if product.id in cart %}
                                        <a href="{% url 'cart' %}" class="btn pink-color-black-gradient-btn ">УВЕЛИЧИТЬ КОЛИЧЕСТВО В КОРЗИНЕ</a>
                                    {% else %}
                                        <a href="#" class="btn pink-color-black-gradient-btn " style="visibility: hidden;">УВЕЛИЧИТЬ КОЛИЧЕСТВО В КОРЗИНЕ</a>
                                    {% endif %}
                                </div>
                            </div>


                            <div class="dropdown-divider"></div>
                            <div class="product-tags-list">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <p class="d-inline">Категория: 
                                                    <a href="{% url 'category' product.category.slug %}">{{ product.category.name }}</a>
                                            </p>
                                        </li>
                                    </ol>
                                </nav>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <!--START LATEST ARRIVALS-->
    <div class="lastest_arrivals remove-margins" style="margin-top: 40px;">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h1>Похожие товары</h1>
                </div>

                <div class="col-12">
                    <div class="lastest_featured_products owl-carousel owl-theme">
                        {% for related_product in related_products %}
                            <div class="lastest_arrival_items item">
                                <a href="#" class="lastest-addto-cart"><i class="fa fa-shopping-cart"></i></a>
                                <div class="card">
                                    <span class="product-type">NEW</span>
                                    <div class="image-holder">
                                        <a href="{% url 'product-detail' related_product.slug %}">
                                            <img src="{{ related_product.image_url }}" class="card-img-top" alt="Lastest Arrivals 1">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <a href="{% url 'product-detail' related_product.slug %}">
                                                    <h5 class="card-title">{{related_product.name}}</h5>
                                                </a>
                                            </div>
                                            <div class="col-12 text-center">
                                                <p class="card-text"> ₽{{related_product.price}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END LATEST ARRIVALS-->
</div>
<!-- END HEADING SECTION -->
{% endblock %}