{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Slider Start-->
<div class="paralax-section-slide-data" style="background-image:url({% static 'img/slider-bg-3.jpg' %})"></div>
<!--Slider End-->


<!-- START HEADING SECTION -->
<div class="about_content">

    <div class="container">
        <div class="row">
            <div class="col-12  text-center wow slideInUp" data-wow-duration="2s">
                <h1 class="heading">Положение об обработке и защите персональных данных</h1>
                <p class="para_text">Дата выпуска Положения: 16 февраля 2020 года</p>
            </div>
        </div>
    </div>

    <!--content-->
<div class="standalone-area">
    <div class="container">

        <div class="row standalone-row align-items-center">
            <div class="col-lg-4">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <div class="item"> <a href="{% static 'img/declaration1.jpg' %}" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="{% static 'img/declaration1.jpg' %}" alt=""></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <div class="item"> <a href="{% static 'img/declaration2.jpg' %}" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="{% static 'img/declaration2.jpg' %}" alt=""></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <div class="item"> <a href="{% static 'img/declaration3.jpg' %}" class="cbp-caption" data-fancybox="gallery1" data-title="Shirt Name"><img src="{% static 'img/declaration3.jpg' %}" alt=""></a></div>
                </div>
            </div>

        </div>


        <!--content-->
        <div class="row standalone-row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/fs-cosmetics.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Обработка, хранение и использование</h2>
                    <p>
                        Предоставляя свои персональные данные Покупатель даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ «О персональных данных» от 27.07.2006 г. в следующих целях:<br>
                        - Регистрации Пользователя на сайте<br>
                        - Осуществление клиентской поддержки<br>
                        - Получения Пользователем информации о маркетинговых событиях<br>
                        - Выполнение Продавцом обязательств перед Покупателем<br>
                        - Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.
                    </p>
                </div>
            </div>
        </div>

        <div class="row standalone-row align-items-center">
            <div class="col-lg-6">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/promo1.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">О персональных данных</h2>
                    <p>
                        Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Покупателя такая как:<br>
                        - Фамилия, Имя, Отчество<br>
                        - Дата рождения<br>
                        - Контактный телефон<br>
                        - Адрес электронной почты<br>
                        - Почтовый адрес<br><br>
                        Персональные данные Покупателей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
                    </p>
                </div>
            </div>
        </div>

        <div class="row standalone-row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="blog-image wow hover-effect fadeInLeft">
                    <img src="{% static 'img/promo3.jpg' %}" alt="image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-inline-block">
                    <h2 class="gradient-text1 pb-3">Конфиденциальность</h2>
                    <p>
                        Продавец обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:<br>
                        - По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ<br>
                        - Стратегическим партнерам, которые работают с Продавцом для предоставления продуктов и услуг, или тем из них, которые помогают Продавцу реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.<br>
                        - Продавец оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

<!-- END HEADING SECTION -->
{% endblock %}